:root {
	--primary-color: blue;
	--dark-hover-color: darkblue;
	--border-color: #c4c4c4;
	--error-color: red;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 600;
}
#template-container {
	padding: 35px;
}
